body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.website-heading {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 40px;
    margin: 20px 0;
}

.login-parent {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.login-child {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.login-Page,
.signup-Page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.signup-Page {
    transform: rotateY(180deg);
}

.flipped .login-child {
    transform: rotateY(180deg);
}

.signin-heading {
    text-align: center;
    width: 90%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    margin-left: 5px;
}

.input-fields input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid black;
    width: auto;
}

.input-fields input:focus {
    outline: none;
}

.forgetOrsignup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

.forget:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.signup {
    color: rgb(235, 120, 78);
}

.signup:hover {
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}

.login-button {
    width: 90%;
    margin-top: 20px;
}

.login-button button {
    width: 100%;
    height: 6vh;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 92, 240);
}

.login-button button:hover {
    cursor: pointer;
    background-color: blue;
}

.signup-heading{
    width: 95%;
    text-align: center;
    margin-left: 30px;
}

.signup-input-fields{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    margin-left: 40px;
}

.signup-input-fields input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid black;
    width: auto;
}

.signup-input-fields input:focus {
    outline: none;
}

.signup-button {
    width: 90%;
    margin-top: 20px;
    margin-left: 40px;
}

.signup-button button {
    width: 100%;
    height: 6vh;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 92, 240);
}

.signup-button button:hover {
    cursor: pointer;
    background-color: blue;
}

.back-to-login {
    text-align: right;
    color: rgb(235, 120, 78);
}

.back-to-login:hover {
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}

.errorMessage {
    color: red;
    background-color: #fdd;
    border: 1px solid #fbb;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
